<!DOCTYPE html>
<!-- This website template was created by: Alexandra Junko -->

<html lang="en">
<head>
	<link rel="stylesheet" href="css/stylesheetrowing.css">
	<title>Row1.5K</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
	<div id="container">
	
	<nav>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="history.html">History</a></li>
			<li><a href="equipment.html">Equipment</a></li>
			<li><a href="getting started.html">Getting Started</a></li>
			<li><a href="culture.html">Culture</a></li>
		</ul>
	</nav>
	
	<main>
	
		<section>
			<h1>Definition</h1>
			<img class="equip" src="images/equipment1.jpg" alt="Weight Equipment">
			<p>Rowing is the "propelling of a boat using a fixed oar as a lever" according to Olympics.com.</p>
		</section>
		
		<section>
			<h1>Ancient History</h1>
			<img class="equip" src="images/equipment1.jpg" alt="Weight Equipment">
			<p>The action of rowing was a method in which individuals used to transport goods, services, and people in Egypt, Greece, and Rome.</p>
			<p>The act of rowing was also used to propel war vessels and ships in both Egypt and in the Roman Empire.</p>
			<p>Transportation of passengers thorugh the Thames River in London began in the 13th century.</p>
		</section>
	
		<section>
			<h1>Becoming a Sport</h1>
			<img class="equip" src="images/equipment2.jpg" alt="Cardio Equipment">
			<p>Entering the 19th century, rowing came to popularity in the United States in the form of ferrymen racing against one another.</p>
			<p>On the collegiate level, universities such as Oxford and Cambridge began to pick up the sport through the formation of teams in the 1820s.</p>
			<p>The year 1839 marked the first occurence of the Henley Regatta which still happens today.</p>
			<p>American universities such as Harvard and Yale began racing in 1851 which jumpstarted a chain reaction for other institutions in similar standing.</p>
		</section>
		
		<section>
			<h1>Olympics and Beyond</h1>
			<img class="equip" src="images/equipment3.jpg" alt="Personal Training">
			<p>The sport was added to the Olympics in 1900 for men and 1976 for woemen.</p>
			<p>Currently, the sport consists of a 2,000 meter course in which crews compete in either sculling or sweeping boats.</p>
		</section>
	</div>
	
	<footer>
		&copy; Copyright 2022. All Rights Reserved.<br>
		<a href="mailto:learnaboutrowing.net">learnaboutrowing.net</a>
	</footer>